
@import './../../scss/variables';
.avatar-item {
    display: flex;
    align-items: center;
  
    .avatar-detail {
      .main-text {
        font-size: 1.1em;
        font-weight: 500;
      }
      .sub-text {
        font-size: 0.9em;
        line-height: 1.3em;
        color: $dark-gray;
      }
    }
  }