
 @import "./scss/variables";
 html {
   font-size: 16px;
   @include respond-to-up(xlg) {
     font-size: 14px;
   }
 }
 body,
 html {
   height: 100%;
   width: 100%;
 }
 body {
   margin: 0;
   font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen", "Ubuntu",
     "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
 }
 
 code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
     monospace;
 }
 #root,
.App {
  height: 100%;
  width: 100%;
  .AppContent {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}