@import "./variables";
*,
::after,
::before {
  box-sizing: border-box;
}

.form {
  .form-group {
    margin-bottom: 1rem;
    position: relative;
    .tooltip-cont {
      position: absolute;
      right: 3px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
.tooltip-wrap {
  .tooltip-list {
    font-size: 14px;
    line-height: 1.6;
    padding: 16px 16px;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
    li {
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      &:last-child {
        margin-bottom: 0;
      }
      &:before {
        content: "";
        display: inline-block;
        margin-right: 8px;
        width: 13px;
        height: 17px;
        background-image: url("./../assets/icons/exclamation-mark-blue.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
      span {
        line-height: 1em;
      }
    }
  }
}
.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}
.btn-full-width {
  width: 100%;
}
.top-container {
  padding-top: 2rem;
  @include respond-to-up(lg) {
    padding-top: 1.5rem;
  }
}
.btn-cont {
  &.btn-cont-padded {
    padding: 24px; //1.5rem;
  }
  &.btn-cont-margin-top {
    margin-top: 24px; //1.5rem;
  }
}
.btn-row {
  margin-left: -8px; // -0.5rem;
  margin-right: -8px; // -0.5rem;
  margin-top: -8px; //-0.5rem;
  display: flex;
  align-items: center;

  &.flex-wrap {
    flex-wrap: wrap;
  }
  &.space-between {
    justify-content: space-between;
  }
  &.flex-end {
    justify-content: flex-end;
  }
  &.flex-md-end {
    @include respond-to(muiMd) {
      justify-content: flex-end;
    }
  }
  &.flex-center {
    justify-content: center;
  }
  &.align-start {
    align-items: flex-start;
  }
  .btn-grid {
    padding-left: 8px; //0.5rem;
    padding-right: 8px; // 0.5rem;
    padding-top: 8px; // 0.5rem;
    &.w-50 {
      flex: 0 0 50%;
      max-width: 50%;
    }
    &.felx-grow {
      flex-grow: 1;
    }
  }
}
.btn-grid {
  .filter-chip-btn {
    min-width: 60px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.action-btn-grid {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}
.form-row {
  padding: 12px 16px;
  @include respond-to-up(sm) {
    padding: 12px 8px;
  }
}

.table-row {
  padding: 0;
  width: 100%;
}
.text-white {
  color: $white !important;
}
.form-control-small {
  .MuiSelect-select {
    padding: 12px 14px;
  }
  .MuiInputLabel-outlined {
    transform: translate(14px, 15px) scale(1);

    &.MuiInputLabel-shrink {
      transform: translate(14px, -6px) scale(0.75);
    }
  }
}
.text-red {
  color: #d31111;
}
.label-req {
  &.error {
    color: #d31111;
  }
  &.MuiFormLabel-root {
    &:after {
      content: "*";
      margin-left: 2px;
      display: inline-block;
      margin-top: -2px;
    }
  }
}
.display-flex {
  display: flex;
  &.align-center {
    align-items: center;
  }
  &.justify-end {
    justify-content: flex-end;
  }
}
.search-field-cont {
  display: flex;
  width: 100%;
  @include respond-to-up(sm) {
    flex-wrap: wrap;
  }
  .search-field-wrap {
    flex-grow: 1;
    @include respond-to-up(sm) {
      order: 2;
    }
  }
  .action-btn-cont {
    // width: 100%; // this is effect to the search bar
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @include respond-to-up(sm) {
      margin-bottom: 0.5rem;
      order: 1;
      justify-content: space-between;
    }
  }
}
.search-field-wrap {
  &.table-search-field-wrap {
    max-width: 300px;
    // margin-left: auto;
    margin: 1rem;
    margin-left: 2.5rem;
  }
  .search-cont {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    height: 40px;
    padding: 0px 16px;
    padding-top: 2px;
    display: flex;
    align-items: center;
    &.search-bordered-cont {
      border: 1px solid $theme-primary-main;
      background-color: transparent;
      height: 34px;
      padding: 0px 14px;
    }
    .search-icon {
      margin-right: 1rem;
      color: inherit;
    }
    .search-input {
      flex-grow: 1;
      color: inherit;
      input::placeholder {
        opacity: 0.8;
        color: inherit;
      }
    }
  }
  .close-btn {
    padding: 0.1rem;
  }
}
.form-component-label {
  margin-bottom: 1.5rem;
  color: black;
  font-weight: 500;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  width: 100%;

  .line {
    margin-left: 1rem;
    flex-grow: 1;
    height: 1px;
    background-color: #f1f1f1;
  }
  &.no-card {
    .line {
      background-color: #adadad;
    }
  }
}
.card-header-with-action-form {
  &.MuiCardHeader-root {
    padding: 16px 24px;
  }
}
.card-header-btn-action {
  &.action-m-0 {
    .MuiCardHeader-action {
      margin: 0;
    }
  }
}
.card-header-with-action {
  &.MuiCardHeader-root {
    padding: 24px; //1.5rem;
    @include respond-to-up(md) {
      padding: 24px 16px; //1.5rem 1rem 1.5rem 1rem;
    }
  }

  position: relative;
  z-index: 3;
  @include respond-to-up(md) {
    flex-wrap: wrap;
    // margin-bottom: 1rem;
  }
  .card-header-action {
    margin-right: 0;
    margin-top: 0;
    align-self: initial;
    padding-left: 1rem;
    @include respond-to-up(md) {
      padding-left: 0;
      margin-top: 1rem;
    }
  }
}
.chip-success {
  background-color: $success !important;

  .MuiChip-label {
    color: $white;
  }
}

.chip-outlined-primary {
  border-color: $primary !important;

  .MuiChip-label {
    color: $primary;
  }
}
.chip-outlined-error {
  border-color: $danger !important;

  .MuiChip-label {
    color: $danger;
  }
}
.MuiPopover-paper {
  @include scrollbars(8px, lighten($theme-secondary-light, 2%));
}

.stripe-realted-input {
  .MuiInput-input {
    font-size: 1.3rem;

    &::-webkit-input-placeholder {
      font-size: 1.2rem;
      color: #b0bcc8;
    }
    &::-moz-placeholder {
      font-size: 1.2rem;
      color: #b0bcc8;
    }
    &:-ms-input-placeholder {
      font-size: 1.2rem;
      color: #b0bcc8;
    }
    &:-moz-placeholder {
      font-size: 1.2rem;
      color: #b0bcc8;
    }
  }
}
.chip-outlined-warning {
  border-color: $warning !important;
  .MuiChip-label {
    color: $warning;
  }
}
.MuiAlert-root {
  align-items: center;
  &.MuiAlert-standardError {
    &.default-error {
      padding: 0;
      background-color: transparent;
      .MuiAlert-icon {
        color: $red;
      }
      .MuiAlert-message {
        color: $red;
        font-size: 0.9rem;
      }
    }
  }
}
.MuiPopover-paper,
.MuiDrawer-paper {
  @include scrollbars(8px, lighten($theme-secondary-light, 2%));
}

// .  {
//   tr {
//     td,
//     th {
//       &:first-child {
//         padding-left: 24px;
//       }
//     }
//   }
// }
.support-card-title {
  font-size: 1.1rem !important;
}
.img-fluid {
  width: 100%;
  max-width: 100%;
}
p {
  margin-top: 0;
}
.btn-text {
  display: block;
  &.text-elapsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
.btn-rounded {
  &.MuiButtonBase-root {
    border-radius: 30px;
  }
}
.text-capitalize {
  text-transform: capitalize;
}
.normal-link {
  text-decoration: none;
}
.default-link {
  color: $blue;
  text-decoration: none;
  transition: all 0.3s;
  &:hover {
    color: $blue;
  }
}
.card-form-detail {
  div {
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.header-primary-text {
  color: $header-text-color;
  font-size: 1rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.25rem;
  letter-spacing: -0.003125rem;
  margin-bottom: 8px;
  &.stepper-primary-text {
    margin-left: 8px;
  }
}
.header-secondary-text {
  color: $header-text-color;
  font-size: 0.875rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.3125rem;
  letter-spacing: -0.003125rem;
  margin-bottom: 8px;
  word-break: break-word;
  // word-break: break-all;
}
.detail-content {
  // margin-top: 12px;
}
.label {
  &.table-label {
    margin-right: 8px;
    text-transform: capitalize;
    font-size: 0.8rem;
    padding: 0.6rem;
    font-weight: 400;
  }
}
.table-logo {
  &.partner-logo {
    width: 100px;
    height: 50px;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
.clickable-row {
  cursor: pointer;
}
.timestamp-cell {
  min-width: 12rem;
}
.custom-input-cont {
  display: flex;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
  flex-wrap: wrap;
  .custom-input-wrap {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    flex: 0 0 100%;
    max-width: 100%;

    @include respond-to-up(md) {
      &.field-1 {
        flex: 0 0 40%;
        max-width: 40%;
      }
      &.field-2,
      &.field-3 {
        flex: 0 0 30%;
        max-width: 30%;
      }
    }
    @include respond-to(lg) {
      &.field-1 {
        flex: 0 0 46%;
        max-width: 46%;
      }
      &.field-2,
      &.field-3 {
        flex: 0 0 27%;
        max-width: 27%;
      }
    }
    @include respond-to-up(sm) {
      &.field-1 {
        flex: 0 0 100%;
        max-width: 100%;
      }
      &.field-2,
      &.field-3 {
        flex: 0 0 50%;
        max-width: 50%;
      }
    }
  }
}

// .vertical-stepper-cont-form-append {
//   padding-left: 12px; // 0.8rem;
//   .MuiStepLabel-iconContainer {
//     padding-right: 8px; // 0.5rem;
//     width: 40px; //2.5rem;
//     @include respond-to-up(md) {
//       padding-right: 0;
//       width: 32px; //2rem;
//     }
//   }
//   .MuiPaper-root {
//     //  padding-top: 0;
//   }

//   // .step-label {
//   //   .header-primary-text {
//   //     margin-left: 16px; // 1rem;
//   //   }
//   // }
//   .step-content-box {
//     padding-left: 16px; // 1rem;
//     padding-right: 16px; // 1rem;
//   }
//   .actions-container {
//     padding-right: 32px; // 2rem;
//   }

//   .step-content-box {
//     // .card-form-cont {
//     //   margin-left: -0.8rem;

//     //   &:first-child {
//     //     padding-top: 1rem;
//     //   }
//     // }
//   }
// }
.general-cont-form-append {
  .card-form-cont {
    &:first-child {
      padding-top: 32px; //2rem;
    }
  }
}
// .general-cont-form-append,
// .vertical-stepper-cont-form-append {
//   .card-form-cont {
//     .card-form-wrap {
//       &.stepper-detail-wrap {
//         padding-top: 0;
//       }
//       &.stepper-form-wrap {
//         padding-top: 0;
//       }
//     }
//   }
// }
// .form-appender-content {
//   .default-form-box {
//     > .card-form-cont {
//       padding-left: 8px; // 0.5rem;
//       padding-right: 8px; // 0.5rem;
//       @include respond-to-up(md) {
//         padding-left: 12px; // 0.8rem;
//         padding-right: 12px; //0.8rem;
//       }
//     }
//   }
// }
// .vertical-stepper-cont {
//   .step-label {
//     .header-primary-text {
//       margin-left: 6px;
//     }
//   }
//   .step-content-box {
//     .card-form-cont {
//       margin-top: -2rem;
//     }
//   }
// }
.dashboard-headway-cont {
  z-index: 2;
  .HW_frame {
    z-index: 2 !important;
  }
}
.text-center {
  text-align: center !important;
}

.collapsible-table {
  .collapsible-parent-row {
    &.active {
      background-color: #f4f6f8;
    }
  }
}
.grid-grow {
  flex-grow: 1;
}
.MuiFormHelperText-root {
  &.Mui-error {
    position: relative;
    margin-left: 16px;
    &:before {
      position: absolute;
      left: -14px;
      display: block;
      top: -1px;
      content: "";
      width: 12px;
      height: 12px;
      background-image: url("./../assets/icons/exclamation-mark-red.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}
.editor-container-border {
  border: 1px solid rgba(0, 0, 0, 0.2);
  &.error-border {
    border-color: #e53935;
  }
}
.vertical-stepper-file-editor {
  height: 65vh;
}
.editor-container {
  width: 100%;
  //height: 100%;
  display: flex;
  flex-direction: column;

  border-radius: 0.5rem;
  padding: 0.5rem;
  > section {
    flex-grow: 1;
  }
  .helper-wrap {
    margin-top: auto;
  }
  &.height-sm {
    height: 11rem;
  }
}
.default-form-box {
  width: 100%;
}
.next-steps-box {
  margin-bottom: 1.5rem;
}
.card-body-heading {
  @include respond-to(sm) {
    display: flex;
    align-items: center;
  }
  .card-body-text {
    flex-grow: 1;
  }
  .card-body-action {
    display: flex;
    @include respond-to-up(sm) {
      margin-top: 1rem;
    }
    .MuiButton-label {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
.MuiFormLabel-root {
  &.Mui-focused {
    color: #37474f !important;
  }
}
.vol-mount-grid {
  // margin-left: 1rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  @include transition(all 0.3s);
  &:not(:only-child) {
    box-shadow: inset 2px 0px 0px 0px rgba($primary, 0.315);
    padding-left: 1rem;
  }
  &:not(:only-child):not(:last-child) {
    // padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
    // border-bottom: 1px solid #e0e0e0;
  }
}

//btn shining

.shine-btn {
  overflow: hidden;
  &:after {
    content: "";
    position: absolute;
    top: -50%;
    right: -50%;
    bottom: -50%;
    left: -50%;
    background: linear-gradient(
      to bottom,
      rgba(127, 195, 235, 0),
      rgba(95, 95, 95, 0.1) 50%,
      rgba(122, 142, 231, 0)
    );
    transform: rotateZ(60deg) translate(-5em, 7.5em);
    animation: shineBtn 1.8s infinite;
  }
}

@keyframes shineBtn {
  100% {
    transform: rotateZ(60deg) translate(1em, -9em);
  }
}
.list-item-cont {
  display: flex;
  align-items: center;
  .list-item-detail {
    flex-grow: 1;
    padding-right: 0.5rem;
    color: #37474f;
    font-weight: 400;
  }
}
.date-text {
  white-space: nowrap;
}
.wrap-text {
  white-space: nowrap;
}
.detail-inline {
  white-space: nowrap;
}
.text-elapsis {
  overflow: hidden;
  text-overflow: ellipsis;
}
.table-avatar {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  margin-left: 8px; //0.7rem;
  &.table-avatar-border {
    border: 1px solid $gray-1;
  }
  @include respond-to-up(md) {
    margin-left: 0;
  }
}
.flex-grid-row {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
  .flex-grid {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
.table-container {
  padding-bottom: 1px; //this is for fix bug app list chip filter select
}
.domain-placeholder {
  padding: 0.3rem 0.4rem;
  background-color: $gray-2;
  border-radius: 0.2rem;
}
.domain-verify-video-cont {
  .domain-verify-video-row {
    display: flex;
    flex-wrap: wrap;
    .detail-list-box {
      height: 100%;
    }

    .domain-verify-list-grid {
      border-right: 1px solid $gray-2;
      flex: 0 0 30%;
      max-width: 30%;
      @include respond-to-up(xlg) {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }
    .domain-verify-video-grid {
      flex-grow: 1;
      @include respond-to-up(xlg) {
        flex: 0 0 100%;
        max-width: 100%;
        margin-top: 1rem;
      }
    }
  }
}
.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.circular-container {
  width: 100%;
  height: 100%;
  min-height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-label-inline {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.col-flex-card {
  display: flex;
  flex-direction: column;
}

.file-editer-form-row {
  display: flex;
  flex-direction: column;
  .file-editer-form-grid {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    .editor-container {
      flex-grow: 1;
    }
  }
}

.card-full-screenable {
  &.full-screen {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1500; //1499 for kube shell .SplitPane
    border-radius: 0;
  }
}
.MuiSlider-root {
  &.Mui-disabled {
    opacity: 0.8;
    cursor: not-allowed !important;
    pointer-events: initial !important;
    .MuiSlider-track {
      color: #777777 !important;
    }
  }
  .MuiSlider-thumb {
    &.Mui-disabled {
      width: 16px;
      height: 16px;
      margin-top: -5px;
      margin-left: -8px;
      border-color: #909090;
      background-color: #f5f5f5;
    }
  }
}
.vertical-stepper-cont-form-append {
  padding-left: 12px;
  .MuiStepLabel-iconContainer {
    padding-right: 8px; // 0.5rem;
    width: 40px; //2.5rem;
    @include respond-to-up(md) {
      padding-right: 0;
      width: 32px; //2rem;
    }
  }
}
.default-create-box,
.form-appender-content,
.vertical-stepper-cont-form-append {
  .step-label {
    .MuiTypography-body2 {
      font-size: 0.9rem;
    }
  }
  .header-primary-text {
    font-size: 0.875rem;
  }
}
.error-count {
  &.MuiAvatar-root {
    background-color: rgba(91, 22, 21, 0.7);
    color: white;
    font-size: 0.8rem;
    height: 1.5rem;
    width: 1.5rem;
    text-align: center;
  }
}

pre {
  &.break-word {
    white-space: pre-wrap; /* Since CSS 2.1 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word;
  }
}
.tag-chip {
  display: flex;
  .tag-val {
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
.MuiToggleButtonGroup-root {
  .MuiToggleButton-root {
    &.Mui-disabled {
      color: rgba($primary, 0.9);
    }
  }
}
.custom-toggle-btn-group {
  .all-btn {
    min-width: 80px;
  }
  .toggle-btn {
    padding-left: 15px;
    padding-right: 15px;
    height: 32px;
    border-color: $secondary;
    font-size: 0.8rem;
  }
}
.metrics-graph-pickers {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  @include respond-to-up(sm) {
    flex-wrap: wrap;
    padding-bottom: 16px;
  }
  .date-range-wrap {
    display: flex;

    @include respond-to-up(sm) {
      width: 100%;
      margin-bottom: 16px;
    }
  }
  .date-range-action-wrap {
    display: flex;
    align-items: center;
  }
}
.right-drawer {
  .form-drawer-actions {
    margin-left: auto;
    display: flex;
    align-items: center;
    .header-action {
      position: relative;
      display: flex;
      align-items: center;
      padding-right: 16px;
      margin-right: 16px;
      &:after {
        content: "";
        width: 1px;
        background-color: $gray-1;
        display: inline-block;
        height: 20px;
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -10px;
      }
    }
  }
}
