li {
  &.MuiListItem-divider {
    &:last-child {
      border-bottom: none;
    }
  }
}
.MuiList-root {
  li {
    &:last-child {
      border-bottom: none;
      .MuiListItem-divider {
        border-bottom: none;
      }
    }
  }
}
.MuiTabs-scroller {
  &.MuiTabs-fixed {
    overflow: auto !important;
  }
}
.btn-bg-red {
  &.MuiButton-contained {
    background-color: $red;
    color: $white;
  }
  &.MuiButton-outlined {
    color: $red;
    border-color: $red;
  }
}
.stripe-realted-input {
  .MuiInput-input {
    font-size: 1.3rem;

    &::-webkit-input-placeholder {
      font-size: 1.2rem;
      color: #b0bcc8;
    }
    &::-moz-placeholder {
      font-size: 1.2rem;
      color: #b0bcc8;
    }
    &:-ms-input-placeholder {
      font-size: 1.2rem;
      color: #b0bcc8;
    }
    &:-moz-placeholder {
      font-size: 1.2rem;
      color: #b0bcc8;
    }
  }
}
.chip-success {
  background-color: $success !important;

  .MuiChip-label {
    color: $white;
  }
}
.chip-outlined-warning {
  border-color: $warning !important;

  .MuiChip-label {
    color: $warning;
  }
}
.MuiCollapse-wrapperInner {
  .list-item {
    .MuiButtonBase-root {
      padding-left: 48px !important;
    }
  }
}
.kube-shell-header {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  .kube-shell-tabs-cont {
    width: calc(100% - 46px);
    .MuiTabScrollButton-root {
      color: white;
    }
    .MuiIconButton-root {
      color: rgba(255, 255, 255, 0.4);
    }
  }
  .kube-shell-header-action {
    width: 46px;
    padding-left: 10px;
    padding-right: 10px;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    .kube-shell-remove-button {
      color: rgba(255, 255, 255, 0.5);
    }
  }
}
.content-tabs-wrap {
  .content-tab {
    min-height: auto;
    padding-top: 0.2rem;
    &.first-item-left-cornered {
      .tab-item {
        &:first-child {
          margin-left: 0;
        }
      }
    }
    .MuiTabs-indicator {
      background-color: $theme-primary-main;
      height: 3px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
    .tab-close-item-wrap {
      display: flex;
      align-items: center;
      .icon-button {
        margin-left: 0.5rem;
      }
      .MuiIconButton-label {
        color: #8273ff;
      }
    }
    .tab-item {
      padding: 0.7rem 0rem;
      min-width: auto;
      min-height: auto;
      margin-left: 24px;
      text-transform: initial;
    }
  }
  &.kube-shell-tabs-wrap {
    background-color: rgba(0, 0, 0, 0.1);
    .content-tab {
      &.kube-shell-tab {
        .MuiTabs-scrollButtons {
          color: $white;
        }
        .MuiTabs-indicator {
          background-color: $white;
        }
        .tab-item {
          color: $white;
          position: relative;
          // margin-left: 0;
          // &:not(&:last-child) {
          //   &:after {
          //     position: absolute;
          //     right: -12px;
          //     content: "";
          //     height: 16px;
          //     width: 1px;
          //     display: block;
          //     background-color: $gray-1;
          //   }
          // }
        }
      }
    }
  }
}
.standard-select {
  .standard-select-label {
    &.MuiInputLabel-shrink {
      background-color: $white;
      padding-left: 8px;
      padding-right: 8px;
      margin-left: -8px;
    }
  }
}
.styled-tab-item {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  &.tab-active {
    background-color: rgba($color: #000000, $alpha: 0.6);
  }
}
.MuiTabScrollButton-root {
  &.Mui-disabled {
    opacity: 0.4 !important;
  }
}
