@import "./mixins";

@font-face {
  font-family: HararbaraFont;
  src: url("./../assets/fonts/Harabara.ttf");
}

$white: #fff;
$black: #000;

$primary: #004c8c;
$secondary: #0076d1;
$danger: #a0000f;
$info: #3aa4d9;
$warning: #ff7c00;
$success: #009688;

$dark-blue: #001d33;
$dark-gray: #5c5c5c;
$blue: #005b9f;
$red: #ff1c1c;
$light-blue: #0277bd;

$gray-1: #a3a3a3;
$gray-2: #f1f1f1;

$base-font: "Roboto", sans-serif;
$harabara-font: HararbaraFont, sans-serif;

$bg-gray-1: #eceff1;
$divider-gray: #eeeeee;

$theme-secondary-main: #455a64;
$theme-secondary-light: #78909c;
$theme-secondary-dark: #263238;
$theme-primary-main: #2196f3;
$theme-primary-dark: #0d47a1;

$header-text-color: #37474f;
