@import "./variables";
.authpage-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  
    // PSD: https://drive.google.com/drive/u/2/folders/1NS6luAY_qmSayVSoGErEeFfMu8yNDwT0
    background: url("./../assets/img/overlay/login-background.png") no-repeat
      center center fixed;
    background-size: cover;
    background-color: #f8f8fb;
    height: 100%;
  
    .authpage-wrapper {
      overflow: auto;
      @include scrollbars(8px, $theme-secondary-light);
      padding: 1rem;
      .auth-form-container {
        background-color: $white;
        border-radius: 0.3rem;
        max-width: 27rem;
        overflow: auto;
        width: 100%;
        margin: auto;
        box-shadow: rgba(51, 57, 78, 0.12) 0px 5px 8px 0px;
        @include respond-to-up(xlg) {
          max-width: 25rem;
        }
        .form-group{
            margin-bottom: 2rem;
        }
        .form-container {
          padding: 3rem 2.6rem;
  
          @include respond-to-up(xlg) {
            padding: 2.7rem 2rem 2rem 1.8rem;
          }
        }
        .form-cont {
          .btn-form-group {
            @include respond-to(xlg) {
              margin-top: 1.2rem;
              margin-bottom: 2rem;
            }
          }
          .form-wrap {
            width: 100%;
            .ant-form {
              .ant-form-item {
                margin-bottom: 0.8rem;
              }
            }
            .form-head {
              margin-bottom: 1.6rem;
              @include respond-to-up(xlg) {
                margin-bottom: 1.2rem;
                &.hide-xlg {
                  display: none;
                }
              }
              .title {
                font-weight: 300;
                font-size: 1.2rem;
                margin-top: 0;
                margin-bottom: 1rem;
                .title-icon {
                  margin-right: 0.6rem;
                }
              }
              .form-txt {
                font-weight: 300;
                font-size: 0.9rem;
                margin-top: 0.3rem;
              }
            }
            .form-body {
               
              .MuiTextField-root {
                .MuiOutlinedInput-input {
                  @include respond-to-up(xlg) {
                    padding: 12px 14px;
                  }
                }
                .MuiInputLabel-outlined {
                  @include respond-to-up(xlg) {
                    transform: translate(14px, 15px) scale(1);
                  }
                  &.MuiInputLabel-shrink {
                    @include respond-to-up(xlg) {
                      transform: translate(14px, -6px) scale(0.75);
                    }
                  }
                }
              }
            }
  
            .form-txt-wrap {
              display: flex;
              align-items: center;
              &.form-txt-separator {
                margin-top: 1rem;
                margin-bottom: 1rem;
                .form-txt {
                  font-size: 0.8rem;
                }
              }
              .sign-up-link {
                margin-left: 0.5rem;
              }
              .form-txt {
                font-size: 0.9rem;
  
                .link {
                  color: $blue;
                  // font-weight: 600;
                  text-decoration: none;
                  transition: all 0.3s;
                  font-size: 0.9rem;
  
                  &:hover {
                    color: $blue;
                  }
                }
              }
              .line {
                margin-left: 1rem;
                height: 1px;
                background-color: rgba($dark-gray, 0.1);
                -ms-flex-positive: 1;
                flex-grow: 1;
              }
            }
          }
        }
      }
  
      .auth-page-footer {
        display: flex;
        justify-content: center;
        margin-top: 2rem;
        @include respond-to-up(xlg) {
          margin-top: 1.5rem;
        }
      }
    }
  }
  .pl-logo-wrap {
    width: 16em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
    margin-top: 1rem;
    @include respond-to-up(xlg) {
      margin-bottom: 2.5rem;
      margin-top: 0.5rem;
    }
    @include respond-to-up(lg) {
      margin-bottom: 2rem;
      width: 13em;
    }
    .pl-logo {
      width: 100%;
      max-width: 100%;
      height: auto;
    }
  }
  .cli-login-screen {
    .form-head {
      .title {
        display: flex;
        align-items: center;
        .icon {
          margin-right: 0.5rem;
        }
      }
      .account-wrap {
        display: flex;
        align-items: center;
        .avatar-img-wrap {
          padding-right: 0.6rem;
          .avatar-img {
            width: 2rem;
            height: 2rem;
          }
        }
      }
    }
    .form-body {
      .details-wrap,
      .access-list-wrap {
        .title-wrap {
          margin-bottom: 0.8rem;
          margin-top: 0.8rem;
          .title {
            font-size: 1rem;
            font-weight: 500;
            margin-top: 0;
            margin-bottom: 0;
          }
        }
      }
      .access-list-wrap {
        margin-bottom: 1rem;
        .access-list {
          padding-left: 0.5rem;
          padding-top: 0;
          .access-list-item {
            align-items: flex-start;
            .list-icon {
              min-width: initial;
              width: 1.2rem;
              margin-top: 0.2rem;
              .MuiSvgIcon-root {
                width: 1.2rem;
                height: 1.2rem;
              }
  
              &.start-icon {
                margin-right: 0.5rem;
                color: $theme-primary-main;
              }
              &.end-icon {
                padding-left: 0.5rem;
              }
            }
            .list-item-text {
              font-size: 0.9rem;
              flex-grow: 1;
              line-height: 1.4em;
              color: $theme-secondary-main;
            }
          }
        }
      }
      .details-wrap {
        .detail-text-wrap {
          .detail-text {
            font-size: 0.9rem;
            line-height: 1.5em;
            color: #3d3d3d;
          }
        }
        .detail-link-wrap {
          margin-top: 0.5rem;
          .detail-btn {
            margin-left: -0.5rem;
          }
        }
      }
    }
    .form-footer {
      margin-top: 1rem;
    }
  }
  